.container {
  display: flex;
  flex-direction: column;
}

.container_card {
  position: relative;
  border: 1px solid grey;

  margin: 20px;
}

.container_card_image {
  width: 600px;
  height: 500px;
}
